<!-- tab -->
<div class="wrapper">
    <div class="job-tabs__tab no-print" id="tabs-2">

        <div class="row top-xs">
            <!-- left side of the form -->
            <div class="col-xs-12 col-sm-12" ng-class="{'col-md-8': isNewJob == false}">

                <div class="content-block">
                    <h2 class="section-title" ng-show="isNewJob">New Job</h2>
                    <h2 class="section-title" ng-show="!isNewJob">Edit Job</h2>


                    <div class="row">

                        <div class="col-xs-12 col-sm-3">
                            <label for="" class="label row-label">Job Type</label>
                        </div>

                        <div class="col-xs-12 col-sm-9">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5 col-xs-12">
                                        <span class="select">
                                            <select name="employe" class="form-control form-control-select"
                                                    ng-model="job_type">
                                                <option value="" selected disabled>Select Type</option>
                                                <option value="New job">New job</option>
                                                <option value="Quoted">Quoted</option>
                                            </select>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div><!-- end row -->

                    <div class="row">

                        <div class="col-xs-12 col-sm-3">
                            <label for="" class="label row-label">Address</label>
                        </div>

                        <div class="col-xs-12 col-sm-9">
                            <div class="form-group">
                                <input type="text" id="Autocomplete" class="form-control" ng-autocomplete ng-model="address" options="address_options" />
                            </div>
                        </div>

                    </div><!-- end row -->


                    <div class="row builder-row">

                        <div class="col-xs-12 col-sm-3">
                            <label for="" class="label row-label">Builder</label>
                        </div>

                        <div class="col-xs-12 col-sm-9">
                        <div class="form-group">
                        <!--<input type="text" name="builder" class="form-control" ng-model="builder">-->

                            <input type="text" ng-model="builder"
                                   typeahead-show-hint="true"
                                   typeahead-focus-first="false"
                                   typeahead-editable="true"
                                   uib-typeahead="builders for builders in all_builders | filter:$viewValue | limitTo:8" class="form-control">


                        </div>
                        </div>

                    </div><!-- end row -->


                    <div class="row">

                        <div class="col-xs-12 col-sm-3">
                            <label for="" class="label row-label">Description</label>
                        </div>

                        <div class="col-xs-12 col-sm-9">
                            <div class="form-group">
                                <textarea name="description" class="form-control form-control-textarea"
                                          ng-model="description"></textarea>
                            </div>

                        </div>

                    </div><!-- end row -->
                    <div class="row">

                        <div class="col-xs-12 col-sm-3">
                            <label for="" class="label row-label">Contractor</label>
                        </div>

                        <div class="col-xs-12 col-sm-9">
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-sm-7 col-xs-12">
                                        <button class="button small-pd js-add-employe"
                                                href="#modal-popup" ng-click="add_constractor()"><span
                                                class="plus">+</span> ADD
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- end row -->


                    <div class="row">

                        <div class="col-xs-12 col-sm-3">
                            <label for="" class="label row-label">Employees</label>
                        </div>

                        <div class="col-xs-12 col-sm-9">
                            <div class="form-group">
                                <oi-select
                                        oi-options="employee.employee_name for employee in availableEmployees track by employee.employee_id"
                                        ng-model="selected_employees"
                                        multiple
                                        placeholder="Select"
                                ></oi-select>
                            </div>

                        </div>

                    </div><!-- end row -->


                    <div class="row">

                        <div class="col-xs-12 col-sm-3">
                            <label for="" class="label row-label">Quoted ($)</label>
                        </div>

                        <div class="col-xs-12 col-sm-9">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group has-label">
<span class="input-dollar left">
                                        <input type="text" name="price" ng-model="quoted"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group has-label">
                                        <label for="" class="label">Hours</label>
                                        <input type="text" name="hours" class="form-control" ng-model="hours">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- end row -->

                    <div class="row">

                        <div class="col-xs-12 col-sm-3">
                            <label for="" class="label row-label">Start Job</label>
                        </div>

                        <div class="col-xs-12 col-sm-9">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group has-label">
                                        <input data-provide="datepicker" name="start-date"
                                               class="form-control datepicker" ng-model="start_date"
                                               placeholder="Select">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group has-label">
                                        <label for="" class="label">End</label>
                                        <input data-provide="datepicker" name="start-date"
                                               class="form-control datepicker" ng-model="end_date" placeholder="Select">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- end row -->


                    <div class="row">

                        <div class="col-xs-12 col-sm-3">
                            <label for="" class="label row-label">Special notes</label>
                        </div>

                        <div class="col-xs-12 col-sm-9">
                            <div class="form-group">
                                <textarea name="notes" class="form-control form-control-textarea"
                                          ng-model="special_note"></textarea>
                            </div>
                        </div>

                    </div><!-- end row -->


                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <button class="button large-pd" ng-click="submit_job()">Save</button>
                        </div>
                        <div class="col-xs-12 col-sm-4">

                            <button class="button" id="completed-button"
                                    ng-show="!isNewJob" style="background-color: #f2f2f2; color: #2f4d6b" ng-click="completed_job()">COMPLETE</button>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <button class="button large-pd" id="delete-button"
                                    href="#modal-delete"
                                    ng-show="!isNewJob" style="background-color: #f2f2f2; color: #2f4d6b"  ng-click="om()">Delete
                            </button>
                        </div>
                    </div><!-- end row -->
                    <br>

                    <div class="row">
                        <div class="col-xs-12 col-lg-offset-3 col-md-offset-3">
                            <label ng-show="isSubmited || isCompleted" class="submit_label">{{submit_label}}</label>
                        </div>
                    </div>
                </div>

            </div><!-- emd left side of the form -->

            <!-- right side of the form -->
            <div class="col-xs-12 col-sm-12 col-md-4 no-print" ng-show="!isNewJob">

                <div class="content-block lists-section">

                        <div class="list">
                            <p class="list__title">Employees</p>
                            <ul>
                                <table>
                                    <tr ng-repeat="employee in job_employees" class="list__item">
                                        <td><a href="" class="list__item__value">{{employee.employee_name}}</a></td>
                                        <td><span class="list__item__controls">
                                            <button class="delete-button js-delete-item"
                                                    ng-click="deleteCurrentJobEmployee($index)">X</button>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </ul>
                        </div> <!-- end list -->

                        <div class="list">
                            <p class="list__title">Contractors</p>
                            <ul>
                                <table>
                                    <tr ng-if="job_constractors.length === 0">
                                        <td colspan="3">No contractor added</td>
                                    </tr>
                                    <tr ng-repeat="constractor in job_constractors" class="list__item">
                                        <td>
                                            <button class="edit-button jspedit-item fancybox list__item__value"
                                                    href="#modal-popup-contractor" ng-click="edit_constractor($index)">
                                                {{constractor.constractor_name}}
                                            </button>
                                        </td>
                                        <td><span class="list__item__controls">
                                            <button class="delete-button js-delete-item"
                                                    ng-click="deleteCurrentJobConstractor($index)">X</button>
                                            </span>
                                        </td>
                                        <td>
                                            <i id="print_icon" class="fa fa-print" ng-click="print_edit_constractor($index)"></i>
                                            <i id="pdf_icon" class="fa fa-file-pdf-o"></i>
                                        </td>

                                        <!--<td>-->
                                        <!--<button class="edit-button jspedit-item fancybox" href="#modal-popup-contractor"-->
                                        <!--ng-click="edit_constractor($index)">Edit-->
                                        <!--</button>-->
                                        <!--</td>-->
                                    </tr>
                                </table>
                            </ul>

                        </div> <!-- end list -->


                </div> <!-- end lists-section -->
            </div><!-- end right side of the form -->

        </div> <!-- end row -->
    </div><!-- end tab comment for git -->
</div>

<div id="modal-delete" class="my_modal">
    <div class="zoom-anim-dialog popup modal-content">
        <span class="close">&times;</span>
        <h2 class="section-title">Warning</h2>

        <div class="row">
            <div class="col-xs-12 col-sm-3"></div>
            <div class="col-xs-12 col-sm-8">
                <h3>Are you sure you want to delete this job?</h3>
            </div>
        </div>
        <br>
        <div class="row button-group2">
            <div class="col-md-4 col-md-offset-2">
                <button class="button large-pd" ng-click="hm()">Cancel</button>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <button class="button" ng-click="deleteCurrentJob()">Delete
                </button>
            </div>
        </div>

    </div>
</div>



<div id="modal-popup-contractor" class="my_modal">
    <div id="print_modal" class="zoom-anim-dialog popup modal-content">
        <span class="close no-print">&times;</span>
            <h2 class="section-title">Edit Contract</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">

                    <div class="row">
                        <div class="col-xs-12 col-sm-2">
                            <label for="" class="label row-label">Contractor</label>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-7">

                                        <input type="text" name="constractor" class="form-control" readonly ng-model="const_name">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-sm-2">
                            <label class="label row-label">Items</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <div class="form-group">
                                <div class="row form-group1" ng-repeat="item in constractor_items">
                                    <div class="col-xs-12 col-sm-3">
                                        <span class="select">
                                            <select name="contractor" class="form-control form-control-select"
                                                    ng-model="item.name">
                                                <option ng-repeat="name in item_names" value="{{name}}">{{name}}</option>
                                            </select>
                                        </span>

                                    </div>
                                    <label class="symbol">-</label>

                                    <div class="col-xs-12 col-sm-2">
                                        <input type="text" name="text1" class="form-control"
                                               ng-model="item.text1" ng-change="calc_item_price();">
                                    </div>
                                    <label class="symbol">@</label>
                                    <div class="col-xs-12 col-sm-2">
                                        <span class="input-dollar left">

                                        <input type="text" name="text2"
                                               ng-model="item.text2" ng-change="calc_item_price();"></span>
                                    </div>
                                    <label class="symbol">=</label>
                                    <div class="col-xs-12 col-sm-2">
                                        <span class="input-dollar left">

                                        <input type="text" name="price"
                                               ng-model="item.price" readonly></span>
                                    </div>

                                    <div class="col-xs-12 col-sm-2" ng-show="!item.default">
                                        <button class="button large-pd no-print" ng-click="remove_item($index)"
                                                style="padding: 0 15px;">remove
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-sm-2"></div>
                        <div class="col-xs-12 col-sm-9">
                            <div class="form-group">
                                <button class="button large-pd no-print" ng-click="add_item()">+ add item</button>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-sm-2">
                            <label for="" class="label row-label">Description</label>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <textarea name="description" class="form-control form-control-textarea"
                                          ng-model="constractor_edit_description" required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-12 col-sm-2">
                            <label for="" class="label row-label">Start Job</label>
                        </div>

                        <div class="col-xs-12 col-sm-9">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="form-group has-label">
                                        <input data-provide="datepicker" name="start-date"
                                               class="form-control datepicker" ng-model="edit_start_cont_date"
                                               placeholder="Select">
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="form-group has-label">
                                        <label for="" class="label">End</label>
                                        <input data-provide="datepicker" name="start-date"
                                               class="form-control datepicker" ng-model="edit_end_cont_date"
                                               placeholder="Select">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- end row -->

                    <div class="row">
                        <div class="col-xs-12 col-sm-2">
                            <label for="" class="label row-label">Price $</label>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" name="price" class="form-control"
                                               ng-model="constractor_edit_price" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-2"></div>
                        <div class="col-xs-12 col-sm-9">
                            <button class="button large-pd no-print" ng-click="edit_constractor_submit()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div id="modal-popup" class="my_modal">
    <div class="zoom-anim-dialog popup modal-content">
        <span class="close">&times;</span>
        <h2 class="section-title">New Job Contract</h2>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-2">
                        <label for="" class="label row-label">Contractor</label>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-7">
                                    <oi-select
                                            oi-options="constractor.constractor_name for constractor in availableConstractors track by constractor.constractor_id"
                                            ng-model="selected_constractor"
                                            multiple
                                            placeholder="Select"
                                    ></oi-select>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-2">
                        <label class="label row-label">Items</label>
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <div class="form-group">
                            <div class="row form-group1" ng-repeat="item in constractor_items">
                                <div class="col-xs-12 col-sm-3">
                                    <span class="select">
                                        <select name="contractor" class="form-control form-control-select"
                                                ng-model="item.name">
                                            <option ng-repeat="name in item_names" value="{{name}}">{{name}}</option>
                                        </select>
                                    </span>

                                </div>
                                <label class="symbol">-</label>

                                <div class="col-xs-12 col-sm-2">
                                    <input type="text" name="price" class="form-control"
                                           ng-model="item.text1"
                                           ng-change="calc_item_price()">
                                </div>
                                <label class="symbol">@</label>
                                <div class="col-xs-12 col-sm-2">
<span class="input-dollar left">

                                    <input type="text" name="price"
                                           ng-model="item.text2"
                                           ng-change="calc_item_price()"
                                    ></span>
                                </div>
                                <label class="symbol">=</label>
                                <div class="col-xs-12 col-sm-2">
<span class="input-dollar left">

                                   <input type="text" name="price"
                                          ng-model="item.price"></span>
                                </div>

                                <div class="col-xs-12 col-sm-2" ng-show="!item.default">
                                    <button class="button large-pd" ng-click="remove_item($index)"
                                            style="padding: 0 15px;">remove
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-2"></div>
                    <div class="col-xs-12 col-sm-9">
                        <div class="form-group">
                            <button class="button large-pd" ng-click="add_item()">+ add item</button>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-2">
                        <label for="" class="label row-label">Description</label>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <textarea name="description" class="form-control form-control-textarea"
                                      ng-model="constractor_add_description"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-12 col-sm-2">
                        <label for="" class="label row-label">Start Job</label>
                    </div>

                    <div class="col-xs-12 col-sm-9">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group has-label">
                                    <input data-provide="datepicker" name="start-date"
                                           class="form-control datepicker" ng-model="start_cont_date"
                                           placeholder="Select">
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group has-label">
                                    <label for="" class="label">End</label>
                                    <input data-provide="datepicker" name="start-date"
                                           class="form-control datepicker" ng-model="end_cont_date"
                                           placeholder="Select">
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- end row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-2">
                        <label for="" class="label row-label">Price $</label>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <input type="text" name="price" class="form-control"
                                           ng-model="constractor_add_price" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <p ng-show="invalidDates" style="color: red">Please select start and end date</p>
                    <div class="col-xs-12 col-sm-2"></div>
                    <div class="col-xs-12 col-sm-9">
                        <button class="button large-pd" ng-click="submit_add_constractor()">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    #completed-button:hover, #delete-button:hover{
        color:white !important;
    }
</style>